html, body {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    height: 100vh;
}

h1 {
    margin: 20px;
}

.define-text, .list-group {
    font-size: 1.25rem;
}

.container-fluid {
    flex: 1 0 auto;
}

body > .container-fluid > * {
    margin-bottom: 20px;
}

.list-group {
    width: 75%;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.list-group-item p {
    margin-bottom: 0;
}

.list-group-item:not(.delete-all) button {
    margin-left: 15px;
}

.list-group-item.delete-all {
    justify-content: flex-end;
}

.list-group-item.undefined {
    color: gray;
}

.list-group .alert {
    margin: 0;
}